<div class=" header pb-6" style="background-color:#2596be;">

<div class=" container-fluid">
<div class=" header-body">
<div class=" row align-items-center py-4">
<div class=" col-lg-6 col-7">
<h6 class=" h2 text-white d-inline-block mb-0">Create Designation</h6>
<br><br>
<button class="btn btn-secondary" (click)="openModal10()">Add Record</button>

</div>

</div>
</div>
</div>
</div>
    
<div class=" container-fluid mt--6">

<div [ngStyle]="{'display':display10}" >

<form
name="form"
(ngSubmit)="onSubmit()"
#f="ngForm"
novalidate
>

<div class=" card mb-4">
<!--div class=" card-header"><h3 class=" mb-0">Add Activities</h3></div-->

<div class=" card-body">
<div class="row">

<div class="col-lg-4">

<label class=" form-control-label" >Enter Designation</label>

<input
type="text"
class="form-control"
id="designation_name"
name="designation_name"
required
[(ngModel)]="form.designation_name" />

<br>
<button class="btn btn-secondary">
Create Designation
</button>
</div>

<div class="col-lg-4">

</div>

<div class="col-lg-4">

</div>

</div>
<br>
</div>

</div>

</form>

</div>

<div class="row">
<div class="col">
<div class="card shadow">
<div class="card-header border-0">
<h3 class="mb-0">Designation Details</h3>

<nav class="navbar" style="float: left;">
&nbsp;&nbsp;    
<label class=" form-control-label" >Search : </label>&nbsp;&nbsp;&nbsp; 
<input type="text" name="search" [(ngModel)]="form.search"
class="form-control" >      
</nav>

</div>

<div class="table-responsive">
<table class=" table align-items-center table-flush table-hover" >
<tr>
<th>Designation Name</th>

<!-- <th>Service Item Name</th>
<th>Rate</th> -->
<th>Edit</th>
<th>Delete</th>

</tr>
<tr *ngFor="let info of getData | filter:form.search;">
<td>{{info.designationDesc}}</td>
<!-- <td>{{info.serviceItemName}}</td>
<td>{{info.rate}}</td> -->

<td><button class="btn btn-secondary" (click)="edit(info.id,info.designationDesc,info.rowVersion)" 
(click)="openModal()">Edit</button></td>
<td><button (click)="deleteData(info.id)" class="btn btn-secondary">Delete</button></td>

</tr>

</table>

</div>

</div>
</div>
</div>

</div>

<div class="backdrop" [ngStyle]="{'display':display1}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display1}" >
<div class="modal-dialog" role="document">
<div class="modal-content" style="width:600px;" >
<div class="modal-header">

<h4 class="modal-title">Edit Designation</h4>
<button class="close" type="button" aria-label="Close" (click)="onCloseHandled()" >
<span aria-hidden="true">&times;</span></button>
</div>

<form
name="form"
(ngSubmit)="edit_data()"
#f="ngForm"
novalidate
>

<div class="modal-body" >

<input type="hidden" id="id" name="id" [(ngModel)]="form.id"  />
<input type="hidden" id="rowVersion" name="rowVersion" [(ngModel)]="form.rowVersion"  />

<div class="form-group">

<label>Designation</label>

<input
type="text"
class="form-control"
id="designation_name"
name="designation_name"
required
[(ngModel)]="form.designation_name" />


</div>
</div>

<div class="modal-footer">
<button class="btn btn-secondary" type="submit"
(click)="onCloseHandled()"  
>Save</button>
</div>

</form>

</div>
</div>
</div>
