<!-- <div class=" header bg-danger pb-6"> -->
<div class=" header pb-6" style="background-color:#2596be;">

<div class=" container-fluid">
<div class=" header-body">
<div class=" row align-items-center py-4">
<div class=" col-lg-6 col-7">
<h6 class=" h2 text-white d-inline-block mb-0">Payroll Payslip</h6>
<br>

</div>

</div>
</div>
</div>
</div>

<div class=" container-fluid mt--6">

<form
name="form"
(ngSubmit)="onSubmit()"
#f="ngForm"
novalidate
>

<div class=" card mb-4">
<!-- <div class=" card-header"><h3 class=" mb-0">Activity Wise Task Report</h3></div> -->

<div class=" card-body"><div class="row">

<div class="col-lg-4">

<label class=" form-control-label" >Select Month</label>
<input
type="month"
class="form-control"
id="month"
name="month"
required
[(ngModel)]="form.month" />

<br>
<a href="http://localhost:82/task_reports/payroll_payslips" target="_blank">
<button class="btn btn-secondary" type="button" (click)="onSubmit()">
Show Report
</button></a>
</div>

<div class="col-lg-4">
    
</div>

<div class="col-lg-4">

</div>

</div>

</div>

</div>

</form>
